Repository Thream/website: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

build(deps): downgrade axios to 0.26.1
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

test(e2e): remove usage of @nextStaticAndImages intercept
  cypress/integration/pages/application/[guildId]/[channelId]/index.spec.ts
  cypress/integration/pages/application/guilds/join.spec.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore(release): 1.1.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  177676e180d2e3f40cc0a5ad5d8a2ad7ccb9b646
Due: editorconfig-checker

chore: enable again `html-w3c-validator`
  .github/workflows/test.yml
  .html-w3c-validatorrc.json
  Dockerfile
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

fix: link (`<a>`) in messages not styled
  components/Application/Messages/Message/MessageText/MessageText.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

perf: optimize load of pagination items with caching
  components/Application/JoinGuildsPublic/JoinGuildsPublic.tsx
  components/Authentication/Authentication.tsx
  components/Authentication/AuthenticationSocialMedia.tsx
  contexts/Channels.tsx
  contexts/GuildMember.tsx
  contexts/Guilds.tsx
  contexts/Members.tsx
  contexts/Messages.tsx
  hooks/usePagination.ts
  next.config.js
  pages/_app.tsx
  tools/authentication/Authentication.ts
  tools/authentication/AuthenticationContext.tsx
  tools/authentication/authenticationFromServerSide.ts
  tools/cache.ts
  tools/handleSocketData.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore(release): 1.1.1 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  7c012460280d00f6c8eda0b9cdc4796fb4aedab9
Due: editorconfig-checker

feat: update API to v1.2.0
  README.md
  tools/api.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

fix: signout even when `api` is not available
  tools/authentication/Authentication.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

fix: remove the error/success icons in `<FormState />`
  components/Header/Header.test.tsx
  components/design/FormState/FormState.tsx
  locales/en/application.json
  public/images/svg/icons/input/error.svg
  public/images/svg/icons/input/success.svg
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

feat: add button to sign out to all connected devices
  components/Application/UserSettings/UserSettings.tsx
  locales/en/application.json
  locales/fr/application.json
  tools/authentication/Authentication.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

feat: edit/delete message
  components/Application/Messages/Message/Message.tsx
  components/Application/Messages/Message/MessageText/MessageText.tsx
  components/Application/SendMessage/SendMessage.tsx
  components/Emoji/Emoji.tsx
  locales/en/application.json
  locales/fr/application.json
  styles/global.css
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

feat: edit/delete a Message (#30)
  components/Application/Messages/Message/Message.tsx
  components/Application/SendMessage/SendMessage.tsx
  components/Emoji/Emoji.tsx
  locales/en/application.json
  locales/fr/application.json
  styles/global.css
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

test(e2e): fix display tooltip for Emoji
  components/Application/Messages/Message/MessageText/MessageText.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore(release): 1.2.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  66f3e0475f7b323bafdd5001e8a7255a8b194f1e
Due: editorconfig-checker

fix(generators): missing < for wrapping componing props
  generators/component/Component.tsx.hbs
Due: editorconfig-checker

feat(components): add MessageOptions
  components/Application/Messages/Message/MessageOptions/MessageOptions.tsx
  components/Application/Messages/Message/MessageOptions/index.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

feat(components): add EditMessage
  components/Application/Messages/Message/EditMessage/EditMessage.tsx
  components/Application/Messages/Message/EditMessage/index.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

fix: cache with outdated data
  .gitignore
  .prettierignore
  package.json
  tools/authentication/Authentication.ts
  tools/cache.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore(release): 1.2.1 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  3d185bf04401d7d538a46f36ebea9d5ad63014bf
Due: editorconfig-checker

fix: cache with duplicated data
  components/Application/Channels/Channel.tsx
  components/Application/Guilds/Guild.tsx
  components/Application/Members/Member.tsx
  contexts/Channels.tsx
  contexts/GuildMember.tsx
  contexts/Guilds.tsx
  contexts/Members.tsx
  contexts/Messages.tsx
  cypress/e2e/pages/application/[guildId]/[channelId]/index.cy.ts
  cypress/e2e/pages/application/[guildId]/[channelId]/settings.cy.ts
  cypress/e2e/pages/application/[guildId]/channels/create.cy.ts
  cypress/e2e/pages/application/[guildId]/settings.cy.ts
  cypress/e2e/pages/application/users/[userId]/index.cy.ts
  hooks/usePagination.ts
  pages/application/[guildId]/[channelId]/index.tsx
  pages/application/[guildId]/[channelId]/settings.tsx
  pages/application/[guildId]/channels/create.tsx
  pages/application/[guildId]/settings.tsx
  pages/application/users/[userId]/index.tsx
  tools/authentication/Authentication.ts
  tools/authentication/AuthenticationContext.tsx
  tools/authentication/authenticationFromServerSide.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore(release): 1.2.2 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  d51de554d6e49e441a8231cc9288846a3d9947b4
Due: editorconfig-checker

feat(Messages): add animations with `framer-motion`
  components/Application/Messages/Message/Message.tsx
  components/Application/Messages/Messages.tsx
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

fix: infinite loader with `<AnimatePresence />`
  components/Application/Messages/Messages.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore(release): 1.3.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  5d350e8db98108acfe051bdf369d0184d1b67b2e
Due: editorconfig-checker

build(deps): update latest
  .gitignore
  components/Application/CreateGuild/CreateGuild.tsx
  components/Application/GuildSettings/GuildSettings.tsx
  next-env.d.ts
  package-lock.json
  package.json
  pages/_app.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

build(deps): bump Next.js to v13
  .devcontainer/Dockerfile
  .env.example
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .html-w3c-validatorrc.json
  .lighthouserc.json
  README.md
  components/Application/Channels/Channel.tsx
  components/Application/GuildLeftSidebar/GuildLeftSidebar.tsx
  components/Application/Members/Member.tsx
  components/Application/Messages/Message/Message.tsx
  components/Application/PopupGuild/PopupGuildCard.tsx
  components/Application/UserSettings/UserSettings.tsx
  components/Authentication/Authentication.tsx
  components/ErrorPage.tsx
  components/Footer/Footer.tsx
  components/Header/Header.tsx
  components/design/IconLink/IconLink.tsx
  components/design/Input/Input.tsx
  cypress.config.ts
  package-lock.json
  package.json
  pages/authentication/forgot-password.tsx
  pages/index.tsx
  tools/api.ts
  vercel.json
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

chore: reduce docker image size
  Dockerfile
  docker-compose.yml
  next.config.js
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

fix: update API to v1.2.3
  README.md
  tools/api.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

fix: remove weird animation introduced in v1.3.0
  components/Application/Messages/Message/Message.tsx
  components/Application/Messages/Messages.tsx
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

Path conditions:
  editorconfig-checker: any of: *
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,sass,json,jsonc,yml,yaml})) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  jest --findRelatedTests: any of: *.{js,jsx,ts,tsx}
  markdownlint --dot --fix: any of: *.md
