Repository Thream/website: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

.lintstagedrc.json:

{
  "*": ["editorconfig-checker"],
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "jest --findRelatedTests"
  ],
  "*.{css,scss,sass,json,jsonc,yml,yaml}": ["prettier --write"],
  "*.md": ["prettier --write", "markdownlint --dot --fix"]
}

docs: add explanations in `CONTRIBUTING.md` to add a translation with plop
  CONTRIBUTING.md
Due: editorconfig-checker, prettier --write, markdownlint --dot --fix

fix: disable lazy-loading for logo image in Header
  components/Header/Header.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore: remove usage of `styled-jsx`
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  components/Application/UserProfile/UserProfile.tsx
  components/ErrorPage.tsx
  components/Header/SwitchTheme.tsx
  components/Header/SwitchTheme/SwitchTheme.tsx
  components/Header/SwitchTheme/index.ts
  components/ScrollableBody.tsx
  components/design/Input/Input.tsx
  components/design/Loader/Loader.module.css
  components/design/Loader/Loader.tsx
  components/design/SocialMediaButton/SocialMediaButton.module.css
  components/design/SocialMediaButton/SocialMediaButton.tsx
  cypress.config.ts
  pages/404.tsx
  pages/500.tsx
  pages/authentication/forgot-password.tsx
  pages/authentication/reset-password.tsx
  pages/authentication/signin.tsx
  pages/authentication/signup.tsx
  pages/index.tsx
  styles/global.css
  tailwind.config.js
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore(release): 1.3.1 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  b5089f7f0b47bb408875f866f96cffedd46ddfa7
Due: editorconfig-checker

Notes added by 'git notes add'
  cdad41f666bdb936c5f5e68b669ecc3c952a2935
Due: editorconfig-checker

fix: update dependencies to latest
  .devcontainer/Dockerfile
  .dockerignore
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .markdownlint-cli2.jsonc
  .markdownlint.json
  Dockerfile
  README.md
  components/Application/CreateGuild/CreateGuild.tsx
  components/Application/GuildSettings/GuildSettings.tsx
  components/Application/SendMessage/SendMessage.tsx
  components/Application/UserSettings/UserSettings.tsx
  components/design/Loader/Loader.tsx
  components/design/SocialMediaButton/SocialMediaButton.tsx
  hooks/useFormTranslation.ts
  hooks/usePagination.ts
  models/OAuth.ts
  package-lock.json
  package.json
  pages/application/[guildId]/[channelId]/index.tsx
  pages/application/[guildId]/[channelId]/settings.tsx
  pages/application/[guildId]/channels/create.tsx
  pages/application/[guildId]/settings.tsx
  pages/application/users/[userId]/index.tsx
  pages/authentication/reset-password.tsx
  tools/api.ts
  tools/authentication/Authentication.ts
  tsconfig.json
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

chore(release): 1.3.2 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  c96385edd55bb2d967974469574d2fa331d2f01e
Due: editorconfig-checker

fix: update dependencies to latest
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .vscode/settings.json
  Dockerfile
  README.md
  components/Application/Application.tsx
  components/Application/ChannelSettings/ChannelSettings.tsx
  components/Application/Channels/Channel.tsx
  components/Application/ConfirmPopup/ConfirmPopup.tsx
  components/Application/CreateChannel/CreateChannel.tsx
  components/Application/CreateGuild/CreateGuild.tsx
  components/Application/GuildSettings/GuildSettings.tsx
  components/Application/JoinGuildsPublic/GuildPublic.tsx
  components/Application/JoinGuildsPublic/JoinGuildsPublic.tsx
  components/Application/Members/Member.tsx
  components/Application/Messages/Message/MessageOptions/MessageOptions.tsx
  components/Application/Sidebar/Sidebar.tsx
  components/Application/UserProfile/UserProfile.tsx
  components/Application/UserSettings/UserSettings.tsx
  components/Authentication/Authentication.tsx
  components/Header/SwitchTheme.tsx
  components/design/Checkbox/Checkbox.tsx
  components/design/Input/Input.tsx
  components/design/Loader/Loader.tsx
  components/design/Textarea/Textarea.tsx
  contexts/Guilds.tsx
  cypress.config.ts
  next.config.js
  package-lock.json
  package.json
  pages/authentication/forgot-password.tsx
  pages/authentication/reset-password.tsx
  tools/api.ts
  tools/authentication/Authentication.ts
  tsconfig.json
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

chore(release): 1.3.3 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  07c574cb4a0dca644fe9c05c09cb78fa910033a2
Due: editorconfig-checker

fix: update dependencies to latest
  .devcontainer/devcontainer.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .lighthouserc.json
  .markdownlint-cli2.jsonc
  .markdownlint.json
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Dockerfile
  README.md
  docker-compose.yml
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, markdownlint --dot --fix

chore(release): 1.3.4 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  fa7b155ea439886ff9e36c42a4e60cd604f6838a
Due: editorconfig-checker

fix: update API to v1.2.6
  README.md
  tools/api.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

chore(release): 1.3.5 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  7e76598f7f84ae9a140566ec09237e261e37553c
Due: editorconfig-checker

fix: update dependencies to latest
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  Dockerfile
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

fix: update author - Théo LUDWIG
  CODE_OF_CONDUCT.md
  README.md
  tools/api.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

chore(release): 1.3.6 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  41c2d95ddea3f0e2048f3f9476a2a04c3afeb969
Due: editorconfig-checker

chore(release): 1.3.7 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  3be7d9cc04f6df7c7816e0b8c2d09cd87064a0a7
Due: editorconfig-checker

chore: correct .dockerignore
  .dockerignore
Due: editorconfig-checker

fix: wrong file uploads api domain in config
  next.config.js
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore(release): 1.3.8 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  ceb67bc16cf4c535b0f7712ccb43638c110cd9ce
Due: editorconfig-checker

chore: rename `docker-compose.yml` to `compose.yaml`
  .devcontainer/compose.yaml
  .devcontainer/devcontainer.json
  compose.yaml
Due: editorconfig-checker, prettier --write

build(deps): update latest
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  Dockerfile
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

build: ignore ESLint errors for Production build
  next.config.js
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

fix: update dependencies to latest
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  Dockerfile
  README.md
  package-lock.json
  package.json
  tools/api.ts
  tsconfig.json
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

chore(release): 1.3.9 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  a8781724d4cd3a0d69b18462daaf37c31dd744c0
Due: editorconfig-checker

fix: deprecation notice
  README.md
  tools/api.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

chore: update semantic-release tooling
  .vscode/settings.json
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

chore(release): 1.3.10 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  d7eb9e80de13866b9c6099d50798f216c35630b6
Due: editorconfig-checker
