Repository Thream/website: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

fix: usage of full URL stored in database for file upload
  components/Application/Application.tsx
  components/Application/GuildSettings/GuildSettings.tsx
  components/Application/Guilds/Guild/Guild.tsx
  components/Application/JoinGuildsPublic/GuildPublic/GuildPublic.tsx
  components/Application/Members/Member/Member.tsx
  components/Application/Messages/Message/Message.tsx
  components/Application/Messages/Message/MessageFile/MessageFile.tsx
  components/Application/UserProfile/UserProfile.tsx
  components/Application/UserSettings/UserSettings.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore: temporarily support Node.js v14 to deploy on Vercel
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

fix: authorize file-uploads-api.thream.divlo.fr domain for images
  next.config.js
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

fix: user.biography size in public profile
  components/Application/UserProfile/UserProfile.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

fix: delete search query param in URL for OAuth2
  components/Application/UserSettings/UserSettings.tsx
  components/Authentication/AuthenticationSocialMedia.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

fix: file upload and OAuth2 (#26)
  components/Application/Application.tsx
  components/Application/GuildSettings/GuildSettings.tsx
  components/Application/Guilds/Guild/Guild.tsx
  components/Application/JoinGuildsPublic/GuildPublic/GuildPublic.tsx
  components/Application/Members/Member/Member.tsx
  components/Application/Messages/Message/Message.tsx
  components/Application/Messages/Message/MessageFile/MessageFile.tsx
  components/Application/UserProfile/UserProfile.tsx
  components/Application/UserSettings/UserSettings.tsx
  components/Authentication/AuthenticationSocialMedia.tsx
  locales/en/application.json
  locales/fr/application.json
  next.config.js
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

build(deps): add @semantic-release/git
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

chore: configure correctly semantic-release
  .releaserc.json
Due: editorconfig-checker, prettier --write

chore(release): 1.0.0 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  4f9d8437337030258a79b33892f0c5cdd3af6306
Due: editorconfig-checker

fix: missing translation for "Create a channel"
  components/Application/UserSettings/UserSettings.tsx
  locales/en/application.json
  locales/fr/application.json
  pages/application/[guildId]/channels/create.tsx
  tools/authentication/AuthenticationContext.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

fix: update API to v1.0.1
  README.md
  tools/api.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

chore(release): 1.0.1 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  32f2edd7fc60199d75fab7e95328aecace4eca0e
Due: editorconfig-checker

fix: improve error message for channel deletion
  components/Application/ChannelSettings/ChannelSettings.tsx
  locales/en/application.json
  locales/fr/application.json
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

fix: only allow to swipe left if there is a right sidebar
  components/Application/Application.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

fix: improve title translation
  locales/en/application.json
  locales/fr/application.json
  pages/application/[guildId]/[channelId]/index.tsx
  pages/application/[guildId]/[channelId]/settings.tsx
  pages/application/[guildId]/settings.tsx
  pages/application/users/settings.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

fix: improve responsive for UserProfile
  components/Application/UserProfile/UserProfile.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

feat: implement confirmation pop-up for channel deletion
  components/Application/Application.tsx
  components/Application/ChannelSettings/ChannelSettings.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore(release): 1.0.2 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  25261b54efb34af78531ee24e9a994c8883dae75
Due: editorconfig-checker

fix: translation
  components/Application/ChannelSettings/ChannelSettings.tsx
  components/Application/ConfirmGuildJoin/index.ts
  components/Application/ConfirmPopup/ConfirmPopup.tsx
  components/Application/ConfirmPopup/index.ts
  components/Application/GuildSettings/GuildSettings.tsx
  components/Application/JoinGuildsPublic/GuildPublic/GuildPublic.tsx
  locales/en/application.json
  locales/fr/application.json
  locales/fr/common.json
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

test(e2e): fix for ConfirmPopup
  components/Application/ConfirmPopup/ConfirmPopup.tsx
  cypress/integration/pages/application/[guildId]/[channelId]/settings.spec.ts
  cypress/integration/pages/application/[guildId]/settings.spec.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

feat: confirm popup for guild/channel deletion (#27)
  components/Application/Application.tsx
  components/Application/ChannelSettings/ChannelSettings.tsx
  components/Application/ConfirmGuildJoin/index.ts
  components/Application/ConfirmPopup/ConfirmPopup.tsx
  components/Application/ConfirmPopup/index.ts
  components/Application/GuildSettings/GuildSettings.tsx
  components/Application/JoinGuildsPublic/GuildPublic/GuildPublic.tsx
  cypress/integration/pages/application/[guildId]/[channelId]/settings.spec.ts
  cypress/integration/pages/application/[guildId]/settings.spec.ts
  locales/en/application.json
  locales/fr/application.json
  locales/fr/common.json
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

fix: correctly set icon for Twitter metadata
  components/Head.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

chore(release): 1.0.3 [skip ci]
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

Notes added by 'git notes add'
  ff2decc8941213c78dabdef1f954ecc5c51fb4b8
Due: editorconfig-checker

fix: messages not being displayed as intended
  components/Application/Messages/Message/MessageText/MessageText.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

feat: add trash and pencil icon for messages
  components/Application/Messages/Message/Message.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

feat: add indicator for the owner's guild
  components/Application/Members/Member/Member.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

test: remove Member test [skip ci]
  components/Application/Members/Member/Member.test.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

feat: add indicator for the owner of the guild (#29)
  components/Application/Members/Member/Member.test.tsx
  components/Application/Members/Member/Member.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

refactor: improve styles code with dark theme
  components/Application/Messages/Message/Message.tsx
  styles/global.css
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

refactor: add function for remove messages
  components/Application/Messages/Message/Message.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

build(deps): update latest
  .devcontainer/docker-compose.yml
  .github/workflows/analyze.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .html-w3c-validatorrc.json
  .npmrc
  Dockerfile
  README.md
  components/Application/Application.tsx
  components/Application/JoinGuildsPublic/GuildPublic/GuildPublic.tsx
  components/Application/Sidebar/Sidebar.tsx
  components/Header/Language/Language.tsx
  components/ScrollableBody/ScrollableBody.tsx
  components/design/IconLink/IconLink.tsx
  components/design/Main/Main.tsx
  contexts/Channels.tsx
  contexts/GuildMember.tsx
  contexts/Guilds.tsx
  contexts/Members.tsx
  contexts/Messages.tsx
  docker-compose.yml
  generators/component/Component.tsx.hbs
  package-lock.json
  package.json
  tools/authentication/AuthenticationContext.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

feat: add Syntax Highlighting for Messages
  components/Application/Messages/Message/MessageText/MessageText.tsx
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

fix: user website should open link in a new tab
  components/Application/UserProfile/UserProfile.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

build(deps): update latest
  package-lock.json
  package.json
Due: editorconfig-checker, prettier --write

feat: update API to v1.1.0
  README.md
  tools/api.ts
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests, markdownlint --dot --fix

fix: autoscroll the user when posting a message even if is not at bottom
  contexts/Messages.tsx
Due: editorconfig-checker, prettier --write, eslint --fix, jest --findRelatedTests

Path conditions:
  editorconfig-checker: any of: *
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,sass,json,jsonc,yml,yaml})) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  jest --findRelatedTests: any of: *.{js,jsx,ts,tsx}
  markdownlint --dot --fix: any of: *.md
